@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--reka-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--reka-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  :root {
  --primary: oklch(0.21 0.04 265.75);
  --background: oklch(1 0 89.88);
  --card-foreground: oklch(0.14 0.04 259.2);
  --secondary: oklch(0.97 0.01 247.9);
  --secondary-foreground: oklch(0.21 0.04 265.75);
  --muted: oklch(0.97 0.01 247.9);
  --accent-foreground: oklch(0.21 0.04 265.75);
  --destructive-foreground: oklch(0.98 0 247.86);
  --border: oklch(0.93 0.01 255.51);
  --foreground: oklch(0.14 0.04 259.2);
  --card: oklch(1 0 89.88);
  --primary-foreground: oklch(0.98 0 247.86);
  --accent: oklch(0.97 0.01 247.9);
  --input: oklch(0.93 0.01 255.51);
  --ring: oklch(0.14 0.04 259.2);
  --popover: oklch(1 0 89.88);
  --muted-foreground: oklch(0.55 0.04 257.42);
  --destructive: oklch(0.64 0.21 25.33);
  --popover-foreground: oklch(0.14 0.04 259.2);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}
.dark {
  --card: oklch(0.14 0.04 259.2);
  --popover-foreground: oklch(0.98 0 247.86);
  --primary: oklch(0.98 0 247.86);
  --primary-foreground: oklch(0.21 0.04 265.75);
  --secondary: oklch(0.28 0.04 260.03);
  --destructive-foreground: oklch(0.98 0 247.86);
  --background: oklch(0.14 0.04 259.2);
  --foreground: oklch(0.98 0 247.86);
  --secondary-foreground: oklch(0.98 0 247.86);
  --accent-foreground: oklch(0.98 0 247.86);
  --card-foreground: oklch(0.98 0 247.86);
  --destructive: oklch(0.4 0.13 25.72);
  --popover: oklch(0.14 0.04 259.2);
  --muted: oklch(0.28 0.04 260.03);
  --muted-foreground: oklch(0.71 0.04 256.79);
  --accent: oklch(0.28 0.04 260.03);
  --border: oklch(0.28 0.04 260.03);
  --input: oklch(0.28 0.04 260.03);
  --ring: oklch(1 0 89.88);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(0.279 0.041 260.031);
  --sidebar-ring: oklch(0.446 0.043 257.281);
}
.theme-red {
  --background: oklch(1 0 89.88);
  --card: oklch(1 0 89.88);
  --secondary-foreground: oklch(0.2 0 89.88);
  --card-foreground: oklch(0.14 0 89.88);
  --popover: oklch(1 0 89.88);
  --popover-foreground: oklch(0.14 0 89.88);
  --primary: oklch(0.58 0.22 27.33);
  --accent-foreground: oklch(0.2 0 89.88);
  --input: oklch(0.92 0 89.88);
  --foreground: oklch(0.14 0 89.88);
  --secondary: oklch(0.97 0 89.88);
  --muted-foreground: oklch(0.56 0 89.88);
  --destructive-foreground: oklch(0.99 0 89.88);
  --primary-foreground: oklch(0.97 0.01 17.38);
  --muted: oklch(0.97 0 89.88);
  --accent: oklch(0.97 0 89.88);
  --destructive: oklch(0.64 0.21 25.33);
  --border: oklch(0.92 0 89.88);
  --ring: oklch(0.58 0.22 27.33);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}
.dark.theme-red {
  --ring: oklch(0.58 0.22 27.33);
  --background: oklch(0.14 0 89.88);
  --card-foreground: oklch(0.99 0 89.88);
  --popover-foreground: oklch(0.99 0 89.88);
  --muted: oklch(0.27 0 89.88);
  --primary-foreground: oklch(0.97 0.01 17.38);
  --secondary-foreground: oklch(0.99 0 89.88);
  --input: oklch(0.27 0 89.88);
  --foreground: oklch(0.99 0 89.88);
  --card: oklch(0.14 0 89.88);
  --accent: oklch(0.27 0 89.88);
  --destructive: oklch(0.4 0.13 25.72);
  --destructive-foreground: oklch(0.99 0 89.88);
  --border: oklch(0.27 0 89.88);
  --popover: oklch(0.14 0 89.88);
  --primary: oklch(0.58 0.22 27.33);
  --secondary: oklch(0.27 0 89.88);
  --muted-foreground: oklch(0.72 0 89.88);
  --accent-foreground: oklch(0.99 0 89.88);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(0.279 0.041 260.031);
  --sidebar-ring: oklch(0.446 0.043 257.281);
}
 .theme-blue {
  --input: oklch(0.93 0.01 255.51);
  --ring: oklch(0.55 0.22 262.88);
  --card: oklch(1 0 89.88);
  --popover-foreground: oklch(0.14 0.04 259.2);
  --primary-foreground: oklch(0.98 0 247.86);
  --destructive: oklch(0.64 0.21 25.33);
  --foreground: oklch(0.14 0.04 259.2);
  --primary: oklch(0.55 0.22 262.88);
  --secondary-foreground: oklch(0.21 0.04 265.75);
  --border: oklch(0.93 0.01 255.51);
  --card-foreground: oklch(0.14 0.04 259.2);
  --popover: oklch(1 0 89.88);
  --accent: oklch(0.97 0.01 247.9);
  --accent-foreground: oklch(0.21 0.04 265.75);
  --destructive-foreground: oklch(0.98 0 247.86);
  --background: oklch(1 0 89.88);
  --secondary: oklch(0.97 0.01 247.9);
  --muted: oklch(0.97 0.01 247.9);
  --muted-foreground: oklch(0.55 0.04 257.42);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}
.dark.theme-blue {
  --card: oklch(0.14 0.04 259.2);
  --card-foreground: oklch(0.98 0 247.86);
  --primary: oklch(0.62 0.19 259.81);
  --primary-foreground: oklch(0.21 0.04 265.75);
  --input: oklch(0.28 0.04 260.03);
  --background: oklch(0.14 0.04 259.2);
  --foreground: oklch(0.98 0 247.86);
  --popover-foreground: oklch(0.98 0 247.86);
  --accent: oklch(0.28 0.04 260.03);
  --accent-foreground: oklch(0.98 0 247.86);
  --destructive-foreground: oklch(0.98 0 247.86);
  --ring: oklch(0.49 0.22 264.38);
  --popover: oklch(0.14 0.04 259.2);
  --muted: oklch(0.28 0.04 260.03);
  --muted-foreground: oklch(0.71 0.04 256.79);
  --secondary: oklch(0.28 0.04 260.03);
  --secondary-foreground: oklch(0.98 0 247.86);
  --destructive: oklch(0.4 0.13 25.72);
  --border: oklch(0.28 0.04 260.03);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(0.279 0.041 260.031);
  --sidebar-ring: oklch(0.446 0.043 257.281);
}
.theme-green {
  --popover-foreground: oklch(0.14 0 285.82);
  --primary: oklch(0.63 0.17 149.21);
  --secondary: oklch(0.97 0 286.38);
  --muted: oklch(0.97 0 286.38);
  --destructive: oklch(0.64 0.21 25.33);
  --background: oklch(1 0 89.88);
  --ring: oklch(0.63 0.17 149.21);
  --accent-foreground: oklch(0.21 0.01 285.89);
  --foreground: oklch(0.14 0 285.82);
  --card-foreground: oklch(0.14 0 285.82);
  --primary-foreground: oklch(0.97 0.02 12.42);
  --secondary-foreground: oklch(0.21 0.01 285.89);
  --destructive-foreground: oklch(0.99 0 89.88);
  --input: oklch(0.92 0 286.32);
  --card: oklch(1 0 89.88);
  --popover: oklch(1 0 89.88);
  --muted-foreground: oklch(0.55 0.01 285.94);
  --accent: oklch(0.97 0 286.38);
  --border: oklch(0.92 0 286.32);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}
.dark.theme-green {
  --background: oklch(0.15 0 49.25);
  --foreground: oklch(0.96 0 89.88);
  --primary-foreground: oklch(0.27 0.06 152.93);
  --muted-foreground: oklch(0.71 0.01 286.07);
  --destructive: oklch(0.4 0.13 25.72);
  --destructive-foreground: oklch(0.97 0.01 17.38);
  --secondary-foreground: oklch(0.99 0 89.88);
  --accent-foreground: oklch(0.99 0 89.88);
  --border: oklch(0.27 0.01 286.03);
  --input: oklch(0.27 0.01 286.03);
  --ring: oklch(0.53 0.14 150.07);
  --popover: oklch(0.2 0 89.88);
  --primary: oklch(0.72 0.19 149.58);
  --card: oklch(0.22 0.01 56.04);
  --card-foreground: oklch(0.96 0 89.88);
  --popover-foreground: oklch(0.96 0 89.88);
  --secondary: oklch(0.27 0.01 286.03);
  --muted: oklch(0.27 0 89.88);
  --accent: oklch(0.27 0.01 34.3);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(0.279 0.041 260.031);
  --sidebar-ring: oklch(0.446 0.043 257.281);
}
.theme-orange {
  --card: oklch(1 0 89.88);
  --input: oklch(0.92 0 48.72);
  --ring: oklch(0.7 0.19 47.6);
  --foreground: oklch(0.15 0 49.25);
  --accent-foreground: oklch(0.22 0.01 56.04);
  --destructive-foreground: oklch(0.98 0 106.42);
  --border: oklch(0.92 0 48.72);
  --background: oklch(1 0 89.88);
  --popover: oklch(1 0 89.88);
  --primary-foreground: oklch(0.98 0 106.42);
  --secondary: oklch(0.97 0 106.42);
  --muted-foreground: oklch(0.55 0.01 58.07);
  --card-foreground: oklch(0.15 0 49.25);
  --popover-foreground: oklch(0.15 0 49.25);
  --primary: oklch(0.7 0.19 47.6);
  --secondary-foreground: oklch(0.22 0.01 56.04);
  --muted: oklch(0.97 0 106.42);
  --accent: oklch(0.97 0 106.42);
  --destructive: oklch(0.64 0.21 25.33);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}
.dark.theme-orange {
  --foreground: oklch(0.98 0 106.42);
  --card-foreground: oklch(0.98 0 106.42);
  --primary: oklch(0.65 0.19 41.12);
  --muted: oklch(0.27 0.01 34.3);
  --border: oklch(0.27 0.01 34.3);
  --input: oklch(0.27 0.01 34.3);
  --ring: oklch(0.65 0.19 41.12);
  --secondary: oklch(0.27 0.01 34.3);
  --secondary-foreground: oklch(0.98 0 106.42);
  --muted-foreground: oklch(0.72 0.01 56.26);
  --accent-foreground: oklch(0.98 0 106.42);
  --destructive: oklch(0.58 0.22 27.33);
  --background: oklch(0.15 0 49.25);
  --primary-foreground: oklch(0.98 0 106.42);
  --card: oklch(0.15 0 49.25);
  --popover: oklch(0.15 0 49.25);
  --popover-foreground: oklch(0.98 0 106.42);
  --accent: oklch(0.27 0.01 34.3);
  --destructive-foreground: oklch(0.98 0 106.42);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(0.279 0.041 260.031);
  --sidebar-ring: oklch(0.446 0.043 257.281);
}
.theme-rose {
  --destructive: oklch(0.64 0.21 25.33);
  --card: oklch(1 0 89.88);
  --card-foreground: oklch(0.14 0 285.82);
  --secondary: oklch(0.97 0 286.38);
  --muted: oklch(0.97 0 286.38);
  --border: oklch(0.92 0 286.32);
  --input: oklch(0.92 0 286.32);
  --secondary-foreground: oklch(0.21 0.01 285.89);
  --destructive-foreground: oklch(0.99 0 89.88);
  --ring: oklch(0.59 0.22 17.58);
  --background: oklch(1 0 89.88);
  --foreground: oklch(0.14 0 285.82);
  --popover: oklch(1 0 89.88);
  --primary-foreground: oklch(0.97 0.02 12.42);
  --popover-foreground: oklch(0.14 0 285.82);
  --primary: oklch(0.59 0.22 17.58);
  --muted-foreground: oklch(0.55 0.01 285.94);
  --accent: oklch(0.97 0 286.38);
  --accent-foreground: oklch(0.21 0.01 285.89);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}
.dark.theme-rose {
  --accent-foreground: oklch(0.99 0 89.88);
  --ring: oklch(0.59 0.22 17.58);
  --background: oklch(0.15 0 49.25);
  --foreground: oklch(0.96 0 89.88);
  --popover-foreground: oklch(0.96 0 89.88);
  --secondary: oklch(0.27 0.01 286.03);
  --secondary-foreground: oklch(0.99 0 89.88);
  --card-foreground: oklch(0.96 0 89.88);
  --popover: oklch(0.2 0 89.88);
  --muted: oklch(0.27 0 89.88);
  --accent: oklch(0.27 0.01 34.3);
  --destructive: oklch(0.4 0.13 25.72);
  --destructive-foreground: oklch(0.97 0.01 17.38);
  --border: oklch(0.27 0.01 286.03);
  --input: oklch(0.27 0.01 286.03);
  --muted-foreground: oklch(0.71 0.01 286.07);
  --card: oklch(0.22 0.01 56.04);
  --primary: oklch(0.59 0.22 17.58);
  --primary-foreground: oklch(0.97 0.02 12.42);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(0.279 0.041 260.031);
  --sidebar-ring: oklch(0.446 0.043 257.281);
}
.theme-violet {
  --popover: oklch(1 0 89.88);
  --secondary: oklch(0.97 0 264.54);
  --muted: oklch(0.97 0 264.54);
  --accent-foreground: oklch(0.21 0.03 264.66);
  --border: oklch(0.93 0.01 264.53);
  --ring: oklch(0.54 0.25 293.01);
  --background: oklch(1 0 89.88);
  --popover-foreground: oklch(0.13 0.03 261.69);
  --secondary-foreground: oklch(0.21 0.03 264.66);
  --muted-foreground: oklch(0.55 0.02 264.36);
  --destructive-foreground: oklch(0.98 0 247.84);
  --primary-foreground: oklch(0.98 0 247.84);
  --destructive: oklch(0.64 0.21 25.33);
  --input: oklch(0.93 0.01 264.53);
  --card: oklch(1 0 89.88);
  --primary: oklch(0.54 0.25 293.01);
  --accent: oklch(0.97 0 264.54);
  --foreground: oklch(0.13 0.03 261.69);
  --card-foreground: oklch(0.13 0.03 261.69);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}
.dark.theme-violet {
  --primary: oklch(0.49 0.24 292.58);
  --secondary-foreground: oklch(0.98 0 247.84);
  --muted: oklch(0.28 0.03 256.85);
  --accent-foreground: oklch(0.98 0 247.84);
  --destructive: oklch(0.4 0.13 25.72);
  --primary-foreground: oklch(0.98 0 247.84);
  --secondary: oklch(0.28 0.03 256.85);
  --ring: oklch(0.49 0.24 292.58);
  --foreground: oklch(0.98 0 247.84);
  --card: oklch(0.13 0.03 261.69);
  --popover: oklch(0.13 0.03 261.69);
  --popover-foreground: oklch(0.98 0 247.84);
  --muted-foreground: oklch(0.71 0.02 261.32);
  --accent: oklch(0.28 0.03 256.85);
  --input: oklch(0.28 0.03 256.85);
  --background: oklch(0.13 0.03 261.69);
  --destructive-foreground: oklch(0.98 0 247.84);
  --border: oklch(0.28 0.03 256.85);
  --card-foreground: oklch(0.98 0 247.84);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(0.279 0.041 260.031);
  --sidebar-ring: oklch(0.446 0.043 257.281);
}
.theme-yellow {
  --input: oklch(0.92 0 48.72);
  --ring: oklch(0.15 0 49.25);
  --primary: oklch(0.86 0.17 91.94);
  --secondary: oklch(0.97 0 106.42);
  --border: oklch(0.92 0 48.72);
  --accent-foreground: oklch(0.22 0.01 56.04);
  --background: oklch(1 0 89.88);
  --card: oklch(1 0 89.88);
  --muted: oklch(0.97 0 106.42);
  --muted-foreground: oklch(0.55 0.01 58.07);
  --destructive: oklch(0.64 0.21 25.33);
  --destructive-foreground: oklch(0.98 0 106.42);
  --card-foreground: oklch(0.15 0 49.25);
  --secondary-foreground: oklch(0.22 0.01 56.04);
  --accent: oklch(0.97 0 106.42);
  --foreground: oklch(0.15 0 49.25);
  --popover: oklch(1 0 89.88);
  --popover-foreground: oklch(0.15 0 49.25);
  --primary-foreground: oklch(0.29 0.06 53.81);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}
.dark.theme-yellow {
  --muted-foreground: oklch(0.72 0.01 56.26);
  --accent: oklch(0.27 0.01 34.3);
  --destructive-foreground: oklch(0.98 0 106.42);
  --foreground: oklch(0.98 0 106.42);
  --popover-foreground: oklch(0.98 0 106.42);
  --secondary: oklch(0.27 0.01 34.3);
  --secondary-foreground: oklch(0.98 0 106.42);
  --destructive: oklch(0.4 0.13 25.72);
  --background: oklch(0.15 0 49.25);
  --card-foreground: oklch(0.98 0 106.42);
  --popover: oklch(0.15 0 49.25);
  --primary: oklch(0.86 0.17 91.94);
  --primary-foreground: oklch(0.29 0.06 53.81);
  --muted: oklch(0.27 0.01 34.3);
  --border: oklch(0.27 0.01 34.3);
  --input: oklch(0.27 0.01 34.3);
  --card: oklch(0.15 0 49.25);
  --accent-foreground: oklch(0.98 0 106.42);
  --ring: oklch(0.55 0.12 66.44);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(0.279 0.041 260.031);
  --sidebar-ring: oklch(0.446 0.043 257.281);
}
}